@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--light-white: #ecf0f1;
	--dark-white: #bdc3c7;
	--light-gray: #95a5a6;
	--dark-gray: #7f8c8d;
	--light-yellow: #f1c40f;
	--dark-yellow: #f39c12;
	--light-purple: #8e44ac;
	--dark-purple: #190629;
	--light-green: #29baa5;
	--dark-green: #27ae60;
	--light-blue: #1195dc;
	--dark-blue: #446cb3;
	--light-orange: #ef5236;
	--dark-orange: #d35400;
	--light-red: #e74c3c;
	--dark-red: #c0392b;

	--font-sour-gummy: 'Sour Gummy', sans-serif;
}

/** Reset **/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

/** Editor **/
.shj-lang-html {
	margin: 0 auto;
}

/** Styles **/
html {
	background-color: var(--dark-purple);
}

body {
	position: relative;
}

main {
	position: relative;
	z-index: 10;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 1rem;
	color: var(--light-yellow);
	font-family: var(--font-sour-gummy);
	font-weight: 900;
	text-transform: uppercase;
	line-height: 1.15;
}

h1 {
	font-size: clamp(2rem, 4vw, 4rem);
}
h2 {
	font-size: clamp(1.75rem, 4vw, 3.75rem);
}
h3 {
	font-size: clamp(1.5rem, 4vw, 3.5rem);
}
h4 {
	font-size: clamp(1.25rem, 4vw, 3.25rem);
}
h5 {
	font-size: clamp(1rem, 4vw, 3rem);
}
h6 {
	font-size: clamp(0.75rem, 4vw, 2.75rem);
}

p,
li {
	margin-bottom: 1rem;
}

/** Container **/
.container {
	width: 100%;
	max-width: 960px;
	margin: 1rem auto;
}

/** Text **/
.text {
	font-size: 1rem;
	color: var(--light-gray);
}

.text--center {
	text-align: center;
}

/** Navigation **/

#logo {
	width: auto;
	height: 60px;
}

#title span {
	font-family: var(--font-sour-gummy);
	color: var(--light-yellow);
	font-size: 40px;
}

#github svg {
	width: 2rem;
	height: 2rem;
}

#github svg * {
	fill: var(--light-purple);
}

/** Intro **/
h1 {
	color: var(--light-yellow);
	text-align: center;
	font-family: var(--font-sour-gummy);
	font-weight: 900;
	text-transform: uppercase;
	line-height: 1.15;
}

.text {
	text-align: center;
}

#polaris {
	overflow-x: hidden;
}
